@import "null.scss";

header{background: rgb(121, 71, 25);
    padding: 1% 5%;
    max-width: 100%;
    .header_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            color: white;
        }
        :nth-child(1){
            background: white;
            border-radius: 100px;
            min-width: 50px;
            min-height: 50px;
            display: inline-block;
            margin-right: 10%;
        }

    }
}
main{padding: 3% 10% ;
    background: rgb(255, 154, 250);
    .main_wrapper{max-height: 100%;
        //border: black solid 3px;
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
        grid-template-rows: 1fr 1fr repeat(6, 3fr);
        grid-auto-rows: 3fr;
        column-gap: 0.5%;
        row-gap: 0.5%;
        grid-template-areas: "menu h1 h1 h1 h1"
                             "menu h2 h2 h2 h2"
                             "menu panda panda river ocean"
                             "menu panda panda river ocean"
                             "menu panda panda beach forest"
                             "menu panda panda beach forest"
                             "menu road mount lion lion"
                             "menu road mount lion lion"
                             "menu iceberg rain lion lion"
                             "menu iceberg rain lion lion";
        div{
            //border: dashed 2px gray;
        }
        .menu{padding: 20px;
            margin-left: 10%;
            margin-right: 5%;
            line-height: 30px;
            background: rgb(49, 156, 45);
            grid-area: menu;
        }
        .h1{font-size: 40px;
            grid-area: h1;
        }
        .h2{grid-area: h2;
            font-size: 35px;
            align-self: end;
        }
        .panda{grid-area: panda;
            background: url(/images/ПАнеда.jpg) no-repeat;
            background-size: 100% 100%;
        }
        .river{grid-area: river;
            background: url(/images/река.jpg) no-repeat;
            background-size: 100% 100%;
        }
        .ocean{grid-area: ocean;
            background: url(/images/океан.jpg) no-repeat;
            background-size: 100% 100%;
        }
        .beach{grid-area: beach;
            background: url(/images/пляж.jpg) no-repeat;
            background-size: 100% 100%;
        }
        .forest{grid-area: forest;
            background: url(/images/лес.jpg) no-repeat;
            background-size: 100% 100%;
        }
        .road{background: url(/images/хайвей.jpg) no-repeat;
            background-size: 100% 100%;
            grid-area: road;
        }
        .mount{background: url(/images/горы.jpg) no-repeat;
            background-size: 100% 100%;
            grid-area: mount;
        }
        .iceberg{background: url(/images/айсберг.jpg) no-repeat;
            background-size: 100% 100%;
            grid-area: iceberg;
        }
        .rain{background: url(/images/дождь.jpg) no-repeat;
            background-size: 100% 100%;
            grid-area: rain;
        }
        .lion{background: url(/images/лев.jpg) no-repeat;
            background-size: 100% 100%;
            grid-area: lion;

        }
    }
}
