@import "null.scss";
body{
}
header {
    background: rgb(121, 71, 25);
    padding: 1% 5%;
    max-width: 100%;
    @media (max-width:1015px) {
        line-height: 22px;
        font-size: 15px;
    }
    @media (max-width:600px) {
        font-size: 13px;
    }
    @media (max-width:355px) {
        font-size: 10px;
    }

    .header_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: white;
        }

        :nth-child(1) {
            background: white;
            border-radius: 100px;
            min-width: 50px;
            min-height: 50px;
            display: inline-block;
            margin-right: 10%;
        }

    }
}

main {
    padding: 3% 10%;
    background: rgb(255, 154, 250);
    max-height: 100%;
    @media (max-width:355px){
        padding: 3% 0% 3% 0;
    }

    .main_wrapper {
        max-height: 100%;

        //border: black solid 3px;
        .menu {
            min-height: 2000px;
            padding: 20px 90px 20px 20px;
            line-height: 30px;
            background: rgb(49, 156, 45);
            float: left;
            margin-right: 2%;

            @media (max-width:1400px) {
                min-height: 1520px;
                padding: 20px 70px 20px 20px;
                line-height: 25px;
            }
            @media (max-width:1285px){
                min-height: 1380px;
            }

            @media (max-width:1015px) {
                min-height: 1010px;
                padding: 20px 50px 20px 20px;
                line-height: 22px;
            }

            @media (max-width:750px) {
                min-height: 1520px;
                padding: 0;
            }
            @media (max-width:417px){
                min-height: 1770px;
            }

            @media (max-width:355px) {
                min-height: 2020px;
            }
        }

        .photos {
            display: grid;
            grid-template-columns: repeat(4, 250px);
            grid-template-rows: 1fr 1fr repeat(8, 3fr);
            grid-auto-rows: 4fr;
            column-gap: 0.5%;
            row-gap: 0.5%;
            grid-template-areas: "h1 h1 h1 h1"
                "h2 h2 h2 h2"
                "panda panda river ocean"
                "panda panda river ocean"
                "panda panda beach forest"
                "panda panda beach forest"
                "road mount lion lion"
                "road mount lion lion"
                "iceberg rain lion lion"
                "iceberg rain lion lion";
                
            @media (max-width:1400px)  {
                grid-template-columns: repeat(4, 220px);
            }
            @media (max-width:1285px)  {
                grid-template-columns: repeat(4, 170px);
                grid-template-rows: 1fr 1fr repeat(8, 2.5fr);
            }
            @media (max-width:1015px)  {
                grid-template-columns: repeat(4, 120px);
                grid-template-rows: 1fr 1fr repeat(8, 2fr);
            }

            @media (max-width:750px) {
                grid-template-columns: repeat(2, 200px);
                grid-template-rows: 1fr 1fr repeat(16, 2fr);
                grid-template-areas: "h1 h1"
                    "h2 h2"
                    "panda panda"
                    "panda panda"
                    "panda panda"
                    "panda panda"
                    "river ocean"
                    "river ocean"
                    "beach forest"
                    "beach forest"
                    "lion lion"
                    "lion lion"
                    "lion lion"
                    "lion lion"
                    "road mount"
                    "road mount"
                    "iceberg rain"
                    "iceberg rain";

            }
            @media (max-width:600px){
                grid-template-columns: repeat(2, 160px);
            }

            @media (max-width:505px) {
                grid-template-columns: repeat(2, 120px);
            }

            @media (max-width:405px) {
                grid-template-columns: repeat(2, 100px);
            }

            @media (max-width:355px) {
                grid-template-columns: 150px;
                grid-template-rows: 1fr 1fr repeat(10, 6fr);
                grid-template-areas: "h1"
                    "h2"
                    "panda"
                    "river"
                    "ocean"
                    "beach"
                    "forest"
                    "lion"
                    "road"
                    "mount"
                    "iceberg"
                    "rain";
            }


            div { transition: 0.5s;
                //border: dashed 2px gray;
                &:hover{
                    transform: scale(1.2);
                }
            }

            .h1 {
                font-size: 40px;
                grid-area: h1;
                align-self: center;
                justify-self: start;

                @media (max-width:1400px) {
                    font-size: 35px;
                }

                @media (max-width:1015px) {
                    font-size: 30px;
                }

                @media (max-width:750px) {
                    font-size: 25px;
                }

                @media (max-width:417px) {
                    font-size: 20px;
                }

                @media (max-width:355px) {
                    margin: 0;
                    padding: 0;
                    line-height: 15px;
                    font-size: 15px;
                }
            }

            .h2 {
                grid-area: h2;
                font-size: 35px;
                align-self: end;
                justify-self: start;

                @media (max-width:1400px) {
                    font-size: 30px;
                }

                @media (max-width:1015px) {
                    font-size: 25px;
                }

                @media (max-width:750px) {
                    font-size: 20px;
                }

                @media (max-width:417px) {
                    font-size: 15px;
                }
            }

            .panda {
                grid-area: panda;
                background: url(./images/ПАнеда.jpg) no-repeat;
                background-size: 100% 100%;
            }

            .river {
                grid-area: river;
                background: url(./images/река.jpg) no-repeat;
                background-size: 100% 100%;
            }

            .ocean {
                grid-area: ocean;
                background: url(./images/океан.jpg) no-repeat;
                background-size: 100% 100%;
            }

            .beach {
                grid-area: beach;
                background: url(./images/пляж.jpg) no-repeat;
                background-size: 100% 100%;
            }

            .forest {
                grid-area: forest;
                background: url(./images/лес.jpg) no-repeat;
                background-size: 100% 100%;
            }

            .road {
                background: url(./images/хайвей.jpg) no-repeat;
                background-size: 100% 100%;
                grid-area: road;
            }

            .mount {
                background: url(./images/горы.jpg) no-repeat;
                background-size: 100% 100%;
                grid-area: mount;
            }

            .iceberg {
                background: url(./images/айсберг.jpg) no-repeat;
                background-size: 100% 100%;
                grid-area: iceberg;
            }

            .rain {
                background: url(./images/дождь.jpg) no-repeat;
                background-size: 100% 100%;
                grid-area: rain;
            }

            .lion {
                background: url(./images/лев.jpg) no-repeat;
                background-size: 100% 100%;
                grid-area: lion;
            }


        }

        .shop {
            margin-top: 2%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 2fr 6fr 2fr 6fr;
            grid-template-areas: "goods goods goods"
                "slot1 slot2 slot3"
                "slot1 slot2 slot3"
                "slot4 slot5 slot6"
                "slot4 slot5 slot6";
            gap: 2%;

            @media (max-width:1400px) {
                grid-template-rows: 1fr 2fr 4fr 2fr 4fr;
            }

            @media (max-width:1015px) {
                grid-template-rows: 1fr 2fr 4fr 2fr 4fr;
            }

            @media (max-width:750px) {
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "goods goods"
                    "slot1 slot2"
                    "slot1 slot2"
                    "slot3 slot4"
                    "slot3 slot4"
                    "slot5 slot6"
                    "slot5 slot6";
                gap: 5%;
                grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 3fr;

            }

            @media (max-width:417px) {
                grid-template-columns: 90px 90px;
                grid-template-areas: "goods goods "
                    "slot1 slot1"
                    "slot1 slot1"
                    "slot2 slot2"
                    "slot2 slot2"
                    "slot3 slot3"
                    "slot3 slot3"
                    "slot4 slot4"
                    "slot4 slot4"
                    "slot5 slot5"
                    "slot5 slot5"
                    "slot6 slot6"
                    "slot6 slot6";
                gap: 1%;
                grid-template-rows: 1fr repeat(12, 2.5fr);
            }


            div {
                //border: dashed 2px gray;
            }

            .goods {
                margin-bottom: 10px;
                grid-area: goods;
                font-size: 45px;
                align-self: center;
                justify-self: start;

                @media (max-width:1400px) {
                    font-size: 35px;
                }

                @media (max-width:1015px) {
                    font-size: 25px;
                }
            }

            .slot {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                p {
                    @media (max-width:1400px) {
                        font-size: 14px;
                    }

                    @media (max-width:1015px) {
                        font-size: 12px;
                    }
                }

                button {
                    padding: 5px 50px;

                    @media (max-width:1400px) {
                        padding: 4px 40px;
                    }

                    @media (max-width:1015px) {
                        grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
                        padding: 3px 30px;
                    }
                }

                img {
                    max-height: 320px;
                    max-width: 320px;

                    @media (max-width:1400px) {
                        max-width: 220px;
                        max-height: 220px;
                    }

                    @media (max-width:1015px) {
                        max-width: 150px;
                        max-height: 150px;
                    }

                    @media (max-width:750px) {
                        max-width: 130px;
                        max-height: 130px;
                    }
                    @media (max-width:445px){
                        max-width: 115px;
                        max-height: 115px;
                    }
                }

                &.slot1 {
                    grid-area: slot1;
                }

                &.slot2 {
                    grid-area: slot2;
                }

                &.slot3 {
                    grid-area: slot3;
                }

                &.slot4 {
                    grid-area: slot4;
                }

                &.slot5 {
                    grid-area: slot5;
                }

                &.slot6 {
                    grid-area: slot6;
                }
            }
        }

    }
}